
.hero.is-primary{
    background-color: #184589;
}
.tabs ul {
    background-color: #184589;
}
.tabs a {
    color:white;
}
.b{
    border: #040101;
}

.wrapper{
    margin-top: 1rem;
    width:70% !important;
}

.wrapper1{
    margin-top: 1rem;
    width:70% !important;
}
.dropdowno{
    width: 100%;
}

@media (max-width: 768px) {
    .rotate {
      transform: rotate(90deg);
    }
  }
  

