
.hero.is-primary{
    background-color: #1f467cbd;
}
body {
    background: url(../images/blue_world_map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    }
.tabs ul {
    background-color: #060b3baf;
}
.tabs a {
    color:white;
}
.b{
    border: black;
   }

.wrapper{
    margin-top: 1rem;
    width:70% !important;
}

.wrapper1{
    margin-top: 1rem;
    width:70% !important;
}
.dropdowno{
    width: 100%;
}

@media (max-width: 768px) {
    .rotate {
      transform: rotate(90deg);
    }
  }

