
.hero.is-primary{
    background-color: #1f467cbd;
}
body {
    background: url(../images/blue_world_map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    }
.tabs ul {
<<<<<<< HEAD
    background-color: #060b3baf;
=======
    background-color: #184589;
>>>>>>> 80d4e1710b3820b579e35e52b44bdc9d51e4f2a8
}
.tabs a {
    color:white;
}
.b{
<<<<<<< HEAD
    border: black;
   }

.wrapper{
    margin-top: 1rem;
    width:70% !important;
}

=======
    border: #040101;
}

.wrapper{
    margin-top: 1rem;
    width:70% !important;
}

>>>>>>> 80d4e1710b3820b579e35e52b44bdc9d51e4f2a8
.wrapper1{
    margin-top: 1rem;
    width:70% !important;
}
.dropdowno{
    width: 100%;
}

@media (max-width: 768px) {
    .rotate {
      transform: rotate(90deg);
    }
  }
<<<<<<< HEAD
=======
  
>>>>>>> 80d4e1710b3820b579e35e52b44bdc9d51e4f2a8

